doctype html
html(lang="ru")
    block head
        head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
            meta(http-equiv='X-UA-Compatible' content='ie=edge')
            title Document
            link(rel='stylesheet' href='./style.min.css?rev=@@hash')
            script(defer='' src='./script.min.js?rev=@@hash')
            script(src="https://api-maps.yandex.ru/2.1/?apikey=88398772-1a4b-4234-b8b9-b3dacf1b135e&lang=ru_RU" type="text/javascript")

    body

        main.main
            block content

