* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

#deliveryPost {
  max-width: 100%;
  padding: 20px 15px;
  border: 1px solid black;
  border-radius: 0;
  font-size: 20px;
  margin: 0;
}

.modal__button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  padding: 0;

  display: flex;

  max-width: 40px;
  background-color: #c3e43d;
  border: transparent;
  border-radius: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
  }
}