.v {
  &-selection-control-group--inline {
    gap: 15px;
  }

  &-selection-control--inline {
    align-items: stretch;
  }

  &-dialog>.v-overlay__content {
    width: 50% !important;
    min-height: 500px !important;
  }

  &-card {
    flex: 1 !important;
    align-items: center !important;

    &>div {
      width: 100%;
    }
  }
}

